/* 
    Created on : 25/08/2015, 20:25:19
    Author     : maik
*/
body{
    margin: 0;
}
.corede-background{
    background: #254559;
    border: none;
}
.corede-lingua{
    width: 100%;
    text-align: center;
}
.corede-lingua img{
    padding: 5px;
    max-height: 30px;
    cursor: pointer;
}
.corede-img-logo{
    float: left;
}
.corede-img-logo img{
    padding: 10px;
    max-height: 50px;
}
.corede-menu{
    margin-top: -5px;
}
.corede-menu ul{
    margin-top: 10px;
    font-size: 16px;
    background: #254559;
    opacity: 0.9;
}
.corede-menu ul li{
    color: #ffffff;
    border: none;
    border-radius: 4px 4px 0 0;
}
.corede-menu ul li a{
    color: #ffffff;
    padding: 10px;
    margin: 0;
}
.corede-menu ul li a{
    color: #ffffff;
    padding: 10px;
    margin: 0;
}
.corede-menu ul li a.dropdown-toggle{
    color: #ffffff;
    padding: 10px;
    margin: 0;
}
.corede-menu ul li a:hover.dropdown-toggle{
    color: #ffffff;
    padding: 10px;
    margin: 0;
}
.corede-menu ul li a:hover{
    color: #254559;
}
.corede-menu ul li .divider{
    margin: 0;
}
.corede-conteudo{
    margin: 0 auto;
    max-width: 1000px;
}
.corede-subtitulo{
    color: #ffffff;
    background: #254559;
    padding: 10px;
    max-width: 40%;
    text-align: center;
    margin: 15px auto;
    font-size: 1.4em;
}

.corede-noticia{
    width: 100%;
    display: table;
    margin-bottom: 20px;
    margin-top: 40px;
}

.corede-noticia-item{
    width: 50%;
    float: left;
    margin-bottom: 30px;
    max-height: 160px;
}

.corede-noticia-item a{
    color: #000000;
    font-size: 1.2em;
}

.corede-noticia-item a:hover{
    color: #003399;
}

.corede-noticia-item img{
    width: 50%;
    float: left;
}

.corede-noticia-item p{
    width: 46%;
    float: left;
    font-size: 1.4em;
    text-align: left;
    padding: 2%;
}


@media (max-width: 768px) {
    .corede-noticia-item{
        width: 100%;
        float: none;
        max-height: none;
    }
    .corede-noticia-item img{
        width: 100%;
        float: none;
    }
    .corede-noticia-item p{
        width: 100%;
        text-align: center;
        float: none;
    }
}
.corede-mapas{
    width: 100%;
    height: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}
.corede-mapas-titulo{
    color: #ffffff;
    background: #254559;
    height: 7%;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.4em;
}
.corede-mapas-frame{
    width: 100%;
    height: 93%;
    border: none;
}
.corede-menu-secundario{
    width: 50%;
    float: left;
}
.corede-menu-secundario ul{
    list-style: none;
    width: 100%;
    padding-left: 0;
}
.corede-menu-secundario ul li{
    margin: 10px 1% 10px 1%;
    width: 48%;
    float: left;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: 1.2em;
    cursor: pointer;
}
@media (max-width: 768px) {
    .corede-menu-secundario{
        width: 100%;
    }
}
.corede-menu-secundario-cor-azul{
    background: #254559;
    color: #ffffff;
}
.corede-menu-secundario-cor-azul2{
    background: #49c5bf;
    color: #000000;
}
.corede-menu-secundario-cor-vermelho{
    background: #e64e21;
    color: #000000;
}
.corede-menu-secundario-cor-amarelo{
    background: #ffcc29;
    color: #000000;
}
.corede-menu-secundario-triangulo-azul{
    border-color: #254559 transparent transparent transparent;
    border-width: 10px;
    border-style: solid;
    width: 1%;
    margin-left: -1%;
    margin-top: 0.4%;
    position: absolute;
}
.corede-menu-secundario-triangulo-azul2{
    border-color: #49c5bf transparent transparent transparent;
    border-width: 10px;
    border-style: solid;
    width: 1%;
    margin-left: -1%;
    margin-top: 0.4%;
    position: absolute;
}
.corede-menu-secundario-triangulo-vermelho{
    border-color: #e64e21 transparent transparent transparent;
    border-width: 10px;
    border-style: solid;
    width: 1%;
    margin-left: -1%;
    margin-top: 0.4%;
    position: absolute;
}
.corede-menu-secundario-triangulo-amarelo{
    border-color: #ffcc29 transparent transparent transparent;
    border-width: 10px;
    border-style: solid;
    width: 1%;
    margin-left: -1%;
    margin-top: 0.4%;
    position: absolute;
}
.corede-menu-secundario-titulo{
    background: #254559;
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin: 2% auto;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: 1.2em;
}
.corede-menu-secundario-noticia{
    list-style: circle;
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 2%;
    font-size: 1.2em;
}
.corede-galeria{
    width: 100%;
    display: table;
}
.corede-galeria img{
    margin: 4% 0.5%;
    width: 23.5%;
}
@media(max-width: 768px){
    .corede-galeria img{
        margin: 5% 2%;
        width: 45%;
    }
}
.corede-rodape{
    background: #254559;
    width: 100%;
    padding-top: 10px;
    display: table;
    height: 100px;
    bottom: 0px;
}
.corede-rodape p{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    font-size: 0.9em;
}
.corede-footer-logo-si{
    max-width: 10%;
    width: 80px;
    float: left;
    display: block;
    margin-left: 10px;
    margin-top: 2%;
}
.corede-footer-logo-ufsm{
    max-width: 10%;
    width: 80px;
    margin-right: 10px;
    float: right;
}
.corede-titulo{
    width: 100%;
    text-align: center;
    font-size: 2.4em;
    color: #254559;
    margin-top: 1%;
    margin-bottom: 1%;
}
.corede-img-principal{
    text-align: center;
    max-width: 1000px;
    max-height: 400px;
}
.corede-img-principal img{
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}
.corede-texto{
    width: 90%;
    margin: 3% 5%;
    font-size: 1em;
    line-height: 1.4em;
}
.corede-titulo-2{
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    color: #254559;
    margin-top: 1%;
    margin-bottom: 1%;
}
.corede-texto-2{
    width: 90%;
    margin: 3% 5%;
    font-size: 1em;
    line-height: 1.4em;
}
.corede-menu-icones{
    width: 100%;
    display: table;
}
.corede-menu-icones img{
    margin: 4% 0.5%;
    width: 15.3%;
    cursor: pointer;
}
@media(max-width: 768px){
    .corede-menu-icones img{
        margin: 5% 2%;
        width: 45%;
    }
}

//slide
#w2bSlideContainer           {
    display: block;
    margin-top: -10px;
}
#w2bNivoSlider               {
    position:relative;
    width:100%  !important; /*largura do slide*/
    height:400px  !important; /*Altura do slide box-shadow: 0 0px 10px 0 #000;*/ 
    background:  #fff url("img/carregando.gif") no-repeat 50% 50%;
    border: none;/*Coloque borda se quiser*/ 
}
#w2bNivoSlider img           {
    position:absolute; 
    top:0; 
    left:0;  
    display:none;
}
.nivoSlider                  {
    position:relative;
    width:100%;
    height:auto;
}
.nivoSlider img              {
    position:absolute;
    top:0;
    left:0;
}
.nivo-main-image             {
    display:block!important;
    position:relative!important;
    width:100%!important;
}
.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
}
.nivo-slice                  {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
    top:0;
}
.nivo-box                    {
    display:block;
    position:absolute;
    z-index:5;
    overflow:hidden;
}
.nivo-box img                {
    display:block;
}
.nivo-caption                {
    padding: 5px; 
    text-align: left; 
    position:absolute; /*Fonte da legenda*/
    font-size: 14px; /*Tamanho da fonte da legenda*/
    background:#333; /*Cor de fundo da legenda*/
    color:#fff; /*Cor do texto da legenda*/
    -ms-filter:"alpha(opacity=80)";
    filter:alpha(opacity=80);
    opacity:.8; 
    width: 850px;/*Largura da legenda*/ 
    z-index:8; 
    margin-top: 305px; 
    margin-left: 20px; 
    border-radius: 4px;
}
.nivo-caption p              {
    padding:2px;
    margin:0;
}
.nivo-caption a              {
    display:inline!important;
}
.nivo-html-caption           {
    display:block;
}
.nivo-directionNav a         {
    position:absolute;
    top:45%;
    z-index:9;
    cursor:pointer;
    display:block;
    width:30px;
    height:30px;
    text-indent:-9999px;
    border:0;
}
.nivo-prevNav                {
    left:10px;
}
.nivo-nextNav                {
    background-position:-30px 0!important;
    right:10px;
}
.nivo-controlNav             {
    display: none;
    position:absolute;
    right:20px;
    bottom:10px;
}
.nivo-controlNav a           {
    position:relative;
    z-index:9;
    cursor:pointer;
    display:inline-block;
    width:22px;
    height:22px;
    background:#FFFFFF;
    text-indent:-9999px;
    border:0;
    margin-right:3px;
    border-radius:50%;
    opacity: 0.80;
}
.nivo-controlNav a:hover     {
    
}
.nivo-controlNav a.active    {
    font-weight:bold;
    background:#00bfa8;
}
#barraDeNavegacao{
    max-width: 1000px;
    margin: 20px auto;
    display: table;
}
ul.barradenavegacao{
    width: 100%;
    float: right;
    margin-bottom: 60px;
    margin-right: 20px;
    list-style: none;
    font-size: 14px;
}
ul.barradenavegacao li{
    float: left;
    margin: 0 auto;
}
ul.barradenavegacao li .display{
    padding: 5px;
    background: #254559;
    color: #ffffff;
    border-radius: 4px;
    margin-left: 2px;
    margin-top: -5px;
}
ul.barradenavegacao li a{
    padding: 5px;
    background: #254559;
    color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 2px;
}
ul.barradenavegacao li a:hover{
    background: #254559;
}

.corede-atas{
    max-width: 1000px;
    margin: 0 auto;
}
.corede-atas table{
    width: 90%;
    margin: 20px auto;
}
.corede-atas table tr{
    border: none;
}
.corede-atas table tr th{
    background: #254559;
    color: #ffffff;
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
}
.corede-atas table tr td{
    color: #000000;
    font-size: 1em;
    text-align: center;
    padding: 10px;
}
.corede-atas table tr td a{
    background: #254559;
    color: #ffffff;
    font-size: 1em;
    text-align: center;
    padding: 3px 10px 3px 10px;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 5px;
}
.corede-atas table tr td a:hover{
    text-decoration: none;
}
.corede-atas table tr td a.remover{
    background: #FF0000;
    color: #ffffff;
    font-size: 1em;
    text-align: center;
    padding: 3px 10px 3px 10px;
    border-radius: 4px;
    text-decoration: none;
}

.corede-atas form{
    max-width: 400px;
    margin: 20px auto;
    display: table;
}

.corede-atas form input[type="text"], .corede-atas form input[type="password"]{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 1.4em;
}
.corede-atas form input[type="file"]{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 1em;
    border: 1px solid #254559;
    border-radius: 4px;
}
.corede-atas form input[type="submit"]{
    background: #254559;
    color: #ffffff;
    font-size: 1.4em;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    float: right;
    margin-right: 5%;
}
